@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;  
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

/*
gerais
*/

header{
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

p{
    padding-bottom: 60px;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte3);
    padding: 60px 0px 50px 40px;
    line-height: 2em;
    font-size: 4vw;
    background-color: white;
}

.container{
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    box-shadow: inset 3px 4px 13px 0px black;
}

footer{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
}

#normal{
    padding-bottom: 20px;
}

/*
especifico
*/

#m{
    font-family: var(--fonte1);
}

.container > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.489);
    color: white;
    padding: 5px;
    text-shadow: 1.5px 1px 1px black;
}

#img1{
    background-image: url("../pacote-d012/imagens/background001.jpg");
}

#img2{
    background-image: url("../pacote-d012/imagens/background002.jpg");
}
